
#popup {
  overflow-y: scroll;
  z-index: 3;
  background-color: rgb(9, 21, 66);
  width: 100%;
  height: 100%;
  color: white;
  top: 0;
  will-change: 'transform';
  transition: transform 300ms cubic-bezier(0, 0, 0.2, 1), opacity 400ms ease;
}
.popup-open {
  position: fixed;
  opacity: 1.0;
  -webkit-transform: translateX(0%);
  transform: translateX(0%);
}

.popup-close {
  position: fixed;
  opacity: 1.0;
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
}

.popup-header-top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
}
.popup-header-right {
  margin-left: 16px;
}


.popup-header-bottom {
  margin-top: 40px;
}
.popup-header, 
.popup-schedules{
  margin: 40px;
}

.popup-header-title {
  font-size: 24px;
}
.popup-header-director {
  font-size: 20px;
}
.popup-header-summary {
  font-size: 16px;
}

#popup-days{
  display: flex;
  padding-inline-start: unset;
  overflow-x: scroll;
  margin-block-start: 1em;
  margin-block-end: 0em;
}

.popup-days-day {
  list-style-type: none;
  margin-right: 25px;
  margin: 0px 1px;
  min-width: 37%;
  text-align: center;
  background: #182065;
  color: #4a57a0;
  font-family: arial,sans-serif;
  font-weight: lighter;
  padding: 8px 0 7px 0;
}
.day-name{
  font-size: 14px;
}
.day-number{
  font-size: 24px;
}
.past-day {
  background-color: #0b194a;
  color: #353a54;
}

.popup-schedules::after {
  height: 150px;
  content: "";
  display: flex;
}

.popup-element-title-row {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  align-content: space-between;
  justify-content: space-between;
  margin-right: 20px;
}

.popup-element-distance-row {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  align-content: flex-end;
}

.popup-element-title {
  font-size: 19px;
  margin-left: 0px;
  margin-top: 32px;
  margin-bottom: 8px;
}

.popup-element-distance {
  font-size: 19px;
  margin-top: 32px;
  margin-bottom: 8px;
  margin-left: 15px;
}

.distance-icon {
  margin-top: 25px;
}

.popup-element-bubbles {
  width: 226px;
}

.popup-element-bubble {
  border: 1pt solid #5c5c71;
  border-radius: 11px;
  padding: 0 19px;
  margin: 4px 2px;
  display: -webkit-inline-box;
}

#popup hr {
  border: 0.5px #1b2a61 solid;
}

#popup h1 {
  font-weight: initial;
  font-size: 20px;
  margin: 0px;
  margin-bottom: 8px;
}

.selected {
  display: inline-block;
  border-bottom: solid #d0003b 2px;
  color: white;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12);
}
#icon-close {
  position: absolute;
  right: 16px;
  top: 16px;
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
}
.version {
  font-size: 8px;
  margin-left: 8px;
}

.trailer-container {
  display: none;
  /* opacity: 0; */
  /* transition: opacity 0.3s ease; */
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 4;
}
.trailer-container.visible{
  display: inline;
  /* opacity: 1; */
  position: fixed;
}

.popup-header-trailerbutton{
  display: flex;
  align-items: center;
  border: 2px solid #616bac;
  padding: 8px;
  border-radius: 9px;
  margin-top: 24px;
  width: fit-content;
  font-size: 14px;
}

.popup-header-trailerbutton .start-icon {
  margin-left: 8px;
}

@media (min-width:961px)  { 
  #popup {
    top: 54px;
    max-width: 60%;

  }
  
  .popup-schedules::after {
    height: 70px;
  }
  .popup-days-day {
    min-width: unset;
    width: 100%;
  }
  #popup-days{
    overflow-x: unset;
  }
  .popup-header-right {
    margin-right: 40px;
    margin-left: 16px;
  }
  
  .popup-header-title {
    font-size: 32px;
    max-width: 500px;
  }

  #icon-close {
    width: 10px;
    height: 16px;
  }

}