@import url('https://fonts.googleapis.com/css?family=Lato:400,900&display=swap');
body {
        margin: 0px;
        background: linear-gradient(24deg, rgb(11, 14, 19) 6vh, #171c56 112vh);
        height: 100vh;    
        color: white;
        font-family: Lato,Helvetica,Arial,sans-serif;
        margin: 0;
        background-repeat: no-repeat;
        background-attachment: fixed;
        overflow-x: hidden;
}
/* remove default link style */
a {
    color: unset;
    cursor: pointer;
    text-decoration: unset;
}


.row {
    display:flex;
}

.aroundMeButton {
    display: none
}

.popup-days::-webkit
::-webkit-scrollbar {
    width: 15px;
    height: 15px;
}

::-webkit-scrollbar-track-piece:vertical  {
    background-color: #C2D2E4;
}

::-webkit-scrollbar-thumb:vertical {
    height: 30px;
    background-color: #0A4C95;
}

::-webkit-scrollbar-thumb:horizontal {
    width: 4px;
    height: 4px;
    background-color: #0A4C95;
}

.no-scroll {
    overflow: hidden;
}

.button {
  display: flex;
  align-items: center;
  font-size: 14px;
  color: white;
  cursor: pointer;
  background: unset;
  border:unset;
}
.stylish.button {
    border: 2px solid #616bac;
    padding: 8px;
    border-radius: 9px;
    width: fit-content;
}
.button:focus {
    outline: unset;
}

.icon {
    margin-left: 0.5em;
}