.movie-card {
    display: flex;
    flex-direction: column;
    max-width: 103px; 
    margin-top: 8px;
    z-index: 1;
}

.movie-poster {
    width: 103px;
    height: 146px;
    border-radius: 7px;
}

.movie-director {
    font-size: 11px;
    margin-left: 3px;
    color: #797a81;
}
.movie-title {
    font-size: 13px;
    margin-top: 6.3px;
    margin-left: 3px;
}

@media (min-width:961px)  { 
    .movie-card {
        max-width: 118px;     
    }
    .movie-poster {
        width: 118px;
        height: 170px;
    }
}