body {
        margin: 0px;
        background: linear-gradient(24deg, rgb(11, 14, 19) 6vh, #171c56 112vh);
        height: 100vh;    
        color: white;
        font-family: Lato,Helvetica,Arial,sans-serif;
        margin: 0;
        background-repeat: no-repeat;
        background-attachment: fixed;
        overflow: hidden;
}
/* remove default link style */
a {
    color: unset;
    cursor: pointer;
    text-decoration: unset;
}


#search-bar-container{
    display: none;
}
#search-bar {
    position: fixed;
    border-radius: 12px;
    border-style: none;
    padding: 3px 17px;
}

.popup-days::-webkit
::-webkit-scrollbar {
    width: 15px;
    height: 15px;
}

::-webkit-scrollbar-track-piece:vertical  {
    background-color: #C2D2E4;
}

::-webkit-scrollbar-thumb:vertical {
    height: 30px;
    background-color: #0A4C95;
}

::-webkit-scrollbar-thumb:horizontal {
    width: 4px;
    height: 4px;
    background-color: #0A4C95;
}

.no-scroll {
    overflow: hidden;
}
