body {
    margin: 0px;
}

#app {
        /* background: rgba(21,58,114,1); */
        background: -moz-linear-gradient(24deg, #2c0154 -114%, rgb(11, 14, 19) 6%, #2c0154 100%);
        background: -webkit-gradient(left bottom, right top, color-stop(#2c0154 -114%), color-stop( rgb(11, 14, 19) 6%), color-stop(#2c0154 100%));
        background: -webkit-linear-gradient(24deg, #2c0154 -114%, rgb(11, 14, 19) 6%, #2c0154 100%);
        background: -o-linear-gradient(24deg, #2c0154 -114%, rgb(11, 14, 19) 6%, #2c0154 100%);
        background: -ms-linear-gradient(24deg, #2c0154 -114%, rgb(11, 14, 19) 6%, #2c0154 100%);
        background: linear-gradient(24deg, #12173d -114%, rgb(11, 14, 19) 6%, #171c56 100%);
        /* background: #260048; */
        height: 100%;
        color: white;
        font-family: Lato,Helvetica,Arial,sans-serif;
        margin: 0;
        background-repeat: no-repeat;
        background-attachment: fixed;
        overflow-x: hidden;
}

.movieList{
    margin-bottom: 58px;
}

.movieCluster {
    margin-bottom: 40px;
}
.movieCluster-content {
    display: grid; /* 1 */
  grid-template-columns: repeat(auto-fill, 103px); /* 2 */
  grid-column-gap: 3px; /* 3 */
  justify-content: space-evenly; /* 4 */

}

.movieCluster-title{
    font-size: 20px;
    margin-left: 9px;
    margin-top: 22px;
    margin-bottom: 4px;
}

#search-bar {
    border-radius: 12px;
    border-style: none;
    padding: 3px 17px;
}
.popup-days::-webkit
::-webkit-scrollbar {
    width: 15px;
    height: 15px;
}

::-webkit-scrollbar-track-piece:vertical  {
    background-color: #C2D2E4;
}

::-webkit-scrollbar-thumb:vertical {
    height: 30px;
    background-color: #0A4C95;
}

::-webkit-scrollbar-thumb:horizontal {
    width: 4px;
    height: 4px;
    background-color: #0A4C95;
}